* {
	margin: 0;
	padding: 0;
}
.app {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding: 40px 24px;
	border-top: 15px solid orange;
}

.app__searchForm {
	margin-top: 17px;
}

.app__input {
	padding: 6px 16px;
	min-width: 200px;
	max-width: 100vw;
	font-size: 1.1rem;
	border-radius: 15px;
}

.app__submit {
	margin-left: 1rem;
	padding: 6px 16px;
	background-color: rgb(101, 172, 148);
	color: white;
	border-radius: 15px;
	cursor: pointer;
	font-size: 1.1rem;
}

.app__submit:hover,
.app__submit:active {
	color: rgb(7, 6, 17);
}

.app__healthLabels {
	margin-left: 1rem;
	font-size: 1.1rem;
	padding: 6px 16px;
	border-radius: 15px;
	width: 150px;
}

.app__recipes {
	margin-top: 24px;
	display: grid;
	grid-template-columns: 220px 220px;
	align-items: baseline;
}
